#aboutus::before {
    display: block;
	content: "";
	height: 70px;
	margin: -70px 0 0;
}

.aboutus_container{
    text-align: center;
}

.aboutus_head{
    margin: 70px 0;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}