#menu {
	background: #604D8D;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 70px;
	transition: all 0.7s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 100;
}

#menu.open {
	opacity: 1;
	visibility: visible;
}

#menu .open li:nth-child(1) {
	animation-delay: 0.1s;
}

#menu.open li:nth-child(2) {
	animation-delay: 0.2s;
}

#menu.open li:nth-child(3) {
	animation-delay: 0.3s;
}

#menu.open li:nth-child(4) {
	animation-delay: 0.4s;
}

#menu.open li:nth-child(5) {
	animation-delay: 0.5s;
}

#menu.open li:nth-child(6) {
	animation-delay: 0.6s;
}

#menu.open li:nth-child(7) {
	animation-delay: 0.7s;
}

#menu.open li:nth-child(8) {
	animation-delay: 0.8s;
}

#menu.open li:nth-child(9) {
	animation-delay: 0.9s;
}

#menu.open li:nth-child(10) {
	animation-delay: 1s;
}

#menu.open li {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeInUp;
}

#menu ul:hover a {
	opacity: 0.5;
}

#menu ul a {
	-webkit-transform: translateZ(0);
	transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
	opacity: 1;
}

#menu .main-nav {
	position: relative;
	top: calc(50% - 80px);
	transform: translateY(-50%);
}

#menu .main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu .main-nav a:first {
	padding-top: 0;
}