.nav {
    position: fixed;
    background-color: #604D8D;
    height: 70px;
    width: 100%;
    z-index: 99;
}

.nav_container {
    display: flex;
    justify-content: center;
    line-height: 70px;
}

.nav_item {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}