.nav {
    position: fixed;
    background-color: #604D8D;
    height: 70px;
    width: 100%;
    z-index: 99;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_link {
    width: 200px;
    height: 70px;
    position: absolute;
    left: 0;
}

.nav_container {
    display: flex;
    position: relative;
    justify-content: center;
    line-height: 70px;
    position: relative;
}

.nav_item {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.nav_item {
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
    font-weight: 400;
    transition: all 1s;
    position: relative;
}

.nav_item:hover:after {
    width: 80%;
    margin: 0 10% 0 0;
}

.nav_item:hover:before {
    width: 80%;
    margin: 0 10% 0 0;
}

.nav_item:after {
    content: "";
    bottom: 10px;
    left: 10%;
    position: absolute;
    background-color: #fff;
    height: 4px;
    width: 0;
    transition: all 0.5s;
}

.nav_item:before {
    content: attr(data-name);
    position: absolute;
    bottom: -4px;
    left: 10%;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    transition: all 0.5s;
}

.nav_item_active {
    color: #fff;
    transition: all 0s;
}

.nav_item_active:after {
    content: "";
    left: 10%;
    position: absolute;
    background-color: #fff;
    height: 4px;
    width: 80%;
}

.nav_item_active:hover:before {
    width: 0;
    transition: all 0s;
}

.nav_container:first-child {
    animation: nav-animation 0.5s;
}

.nav_container:nth-child(2) {
    animation: nav-animation 1s;
}

.nav_container:nth-child(3) {
    animation: nav-animation 1.5s;
}

.nav_container:nth-child(4) {
    animation: nav-animation 2s;
}

.nav_container:nth-child(5) {
    animation: nav-animation 2.5s;
}

.nav__toggle-menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	float: right;
	height: 50px;
	outline: none;
	padding: 0;
	pointer-events: initial;
	vertical-align: middle;
	width: 50px;
	z-index: 1110;
    margin-top: 10px;
}

.nav__toggle-menu span {
	background-color: #fff;
	content: "";
	display: block;
	height: 2px;
	left: calc(50% - 13px );
	position: absolute;
	top: calc(50% - 1px );
	transform-origin: 50% 50%;
	transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	width: 26px;
}

.nav__toggle-menu span:before, .nav__toggle-menu span:after {
	background-color: #fff;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	transform-origin: 50% 50%;
	transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	width: 26px;
}

.nav__toggle-menu span:before {
	top: 7px;
}

.nav__toggle-menu span:after {
	top: -7px;
}

.nav__toggle-menu.active span {
	background-color: transparent;
	transition: background 0.2s ease-out;
}

.nav__toggle-menu.active span:before, .nav__toggle-menu.active span:after {
	transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.nav__toggle-menu.active span:before {
	top: 0;
	transform: rotate3d(0, 0, 1, -45deg);
}

.nav__toggle-menu.active span:after {
	top: 0;
	transform: rotate3d(0, 0, 1, 45deg);
}

@keyframes nav-animation {
    from {
        opacity: 1;
        transform: translate(0, 200%);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}