.upperbutton_section {
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #604D8D;
    animation: uparrowView 0.5s ease-in-out;
}

.upperbutton_section_nodisplay {
    transform: translateX(300px);
    animation: uparrowNoView 0.6s ease-in;
}

.upperbutton_link { 
    border-radius: 100%;
    width: 70px;
    height: 70px; 
    justify-content: center;
    align-items: center;
    display: flex;
}

@keyframes uparrowView {
    0% {
        transform: translateX(300px);
    }

    50% {
        transform: translateX(-30px);
    }

    70% {
        transform: translateX(20px);
    }

    90% {
        transform: translateX(-5px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes uparrowNoView {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(300px);
    }
}